= form_for @shoot, :html => { :multipart => true } do |f|
  - if @shoot.errors.any?
    .error
      = pluralize(@shoot.errors.count, "error")
      prohibited this article from being saved:
    %ul
      - @shoot.errors.full_messages.each do |msg|
        %li
          = msg

  = f.label :artist
  = f.text_field :artist

  = f.label :description
  = f.text_field :description

  = f.label :location
  = f.text_field :location

  = f.label :shoot_image
  = f.file_field :shoot_image

  = f.submit