= videojs_rails sources: { mp4: @shoot.video.url, setup: "{}", controls: false }, width:"400"
= image_tag @shoot.shoot_image_url.to_s
= image_tag @shoot.shoot_image_url(:thumb).to_s
%h1
  = @shoot.artist

%p
  = @shoot.description

%h5
  = @shoot.location

= link_to 'edit', edit_shoot_path(@shoot)
= link_to 'delete', shoot_path(@shoot),
                    method: :delete