= image_tag @shoot.shoot_image_url.to_s
= image_tag @shoot.shoot_image_url(:thumb).to_s
%h1
  = @shoot.artist

%p
  = @shoot.description

%h5
  = @shoot.location

= videojs_rails sources: { mp4: @shoot.video.url, webm: @shoot.video.webm.url, setup: "{}", controls: false }, width:"400"
