!!!
%html
%head
  %title
    Timespent
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  #admin-bar
    - if current_user
      = link_to admin_path do
        D A S H B O A R D
      You are logged in as
      = current_user.first_name

      %ul
        %li
          = link_to "Manage Blog Posts", admin_posts_path 
        %li
          = link_to "Manage Videos", admin_shoots_path 

  #admin-tools
    = yield :admin_tools

  - flash.each do |key, value| 
    = content_tag(:div, value, class: "flash flash-#{key}")
  = link_to root_url do
    %h1 Timespent

  = link_to 'Videos', shoots_path
  = link_to 'Blog', posts_path

  = yield 
